@model IyzicoConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@T("Nop.Plugin.Payments.Iyzico.Configuration.PageTitle")</h3>
    </div>

    <form asp-controller="IyzicoConfiguration" asp-action="Configure" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <nop-label asp-for="APIKey" />
                        <nop-editor asp-for="APIKey" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <nop-label asp-for="SecretKey" />
                        <nop-editor asp-for="SecretKey" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <nop-label asp-for="URL" />
                        <nop-editor asp-for="URL" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <nop-label asp-for="CallbackURL" />
                        <nop-editor asp-for="CallbackURL" />
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
        </div>
    </form>
</div>