@model Nop.Plugin.Widgets.Marketplace.Models.MarketplaceButtonViewModel

@if (Model.IsEnabled)
{
    <div style="margin:20px 0px;">
        <a href="#product-vendors" style="font-size:17px;">Diğer Satıcılar (@Model.NumberOfVendors)</a>
    </div>
}